@charset "UTF-8";
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";
@font-face {
  font-family: 'sf_ui_displaybold';
  src: url("../fonts/sf-ui-display-bold-webfont.eot");
  src: url("../fonts/sf-ui-display-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-ui-display-bold-webfont.woff2") format("woff2"), url("../fonts/sf-ui-display-bold-webfont.woff") format("woff"), url("../fonts/sf-ui-display-bold-webfont.ttf") format("truetype"), url("../fonts/sf-ui-display-bold-webfont.svg#sf_ui_displaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sf_ui_textlight';
  src: url("../fonts/sf-ui-text-light-webfont.eot");
  src: url("../fonts/sf-ui-text-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-ui-text-light-webfont.woff2") format("woff2"), url("../fonts/sf-ui-text-light-webfont.woff") format("woff"), url("../fonts/sf-ui-text-light-webfont.ttf") format("truetype"), url("../fonts/sf-ui-text-light-webfont.svg#sf_ui_textlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sf_ui_textmedium';
  src: url("../fonts/sf-ui-text-medium-webfont.eot");
  src: url("../fonts/sf-ui-text-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-ui-text-medium-webfont.woff2") format("woff2"), url("../fonts/sf-ui-text-medium-webfont.woff") format("woff"), url("../fonts/sf-ui-text-medium-webfont.ttf") format("truetype"), url("../fonts/sf-ui-text-medium-webfont.svg#sf_ui_textmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sf_ui_textregular';
  src: url("../fonts/sf-ui-text-regular-webfont.eot");
  src: url("../fonts/sf-ui-text-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-ui-text-regular-webfont.woff2") format("woff2"), url("../fonts/sf-ui-text-regular-webfont.woff") format("woff"), url("../fonts/sf-ui-text-regular-webfont.ttf") format("truetype"), url("../fonts/sf-ui-text-regular-webfont.svg#sf_ui_textregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sf_ui_textsemibold';
  src: url("../fonts/sf-ui-text-semibold-webfont.eot");
  src: url("../fonts/sf-ui-text-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-ui-text-semibold-webfont.woff2") format("woff2"), url("../fonts/sf-ui-text-semibold-webfont.woff") format("woff"), url("../fonts/sf-ui-text-semibold-webfont.ttf") format("truetype"), url("../fonts/sf-ui-text-semibold-webfont.svg#sf_ui_textsemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "sf_ui_textregular";
  font-weight: 400;
  background-color: #fff;
  line-height: 1;
  color: #000;
  font-size: 10px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  border: none; }

form {
  margin: 0; }

input[type="submit"] {
  cursor: pointer;
  border: none; }

input {
  border: none; }

textarea {
  resize: none;
  border: none;
  -webkit-appearance: none;
  overflow: auto; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1; }

::-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 1; }

*, *:focus {
  outline: none !important; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input, textarea, input:before, textarea:before, input:after, textarea:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial; }

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

button {
  border: none;
  cursor: pointer;
  padding: 0; }

@font-face {
  font-family: "planer-icons";
  src: url("../fonts/planer-icons.eot");
  src: url("../fonts/planer-icons.eot?#iefix") format("eot"), url("../fonts/planer-icons.woff2") format("woff2"), url("../fonts/planer-icons.woff") format("woff"), url("../fonts/planer-icons.ttf") format("truetype"), url("../fonts/planer-icons.svg#planer-icons") format("svg"); }

.icon-account_circle-blue:before, .icon-account_circle-grey:before, .icon-add:before, .icon-arrow:before, .icon-bell-not_active:before, .icon-bell:before, .icon-cancel:before, .icon-check:before, .icon-check_box:before, .icon-check_box_outline:before, .icon-edit-not_active:before, .icon-edit:before, .icon-list:before, .icon-lock-blue:before, .icon-lock-grey:before, .icon-logout:before, .icon-star:before, .icon-time:before, .icon-user:before, .icon-warning:before {
  font-family: "planer-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.icon-account_circle-blue:before {
  content: ""; }

.icon-account_circle-grey:before {
  content: ""; }

.icon-add:before {
  content: ""; }

.icon-arrow:before {
  content: ""; }

.icon-bell-not_active:before {
  content: ""; }

.icon-bell:before {
  content: ""; }

.icon-cancel:before {
  content: ""; }

.icon-check:before {
  content: ""; }

.icon-check_box:before {
  content: ""; }

.icon-check_box_outline:before {
  content: ""; }

.icon-edit-not_active:before {
  content: ""; }

.icon-edit:before {
  content: ""; }

.icon-list:before {
  content: ""; }

.icon-lock-blue:before {
  content: ""; }

.icon-lock-grey:before {
  content: ""; }

.icon-logout:before {
  content: ""; }

.icon-star:before {
  content: ""; }

.icon-time:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.icon-warning:before {
  content: ""; }

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.header {
  background: #00a2f4;
  padding: 3.5em 0;
  height: 10em; }
  .header .flex-container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.add-task {
  font-size: 1em;
  width: 6em;
  height: 6em;
  background: #ffbb00;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transform: translateY(55%);
      -ms-transform: translateY(55%);
          transform: translateY(55%); }
  .add-task span {
    display: inline-block;
    width: 3em;
    height: .4em;
    background: #fff;
    position: absolute;
    top: -webkit-calc(50% - .2em);
    top: calc(50% - .2em);
    margin-left: -1.5em;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
    .add-task span + span {
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg); }

.user-nav {
  font-size: 3em;
  color: #fff; }
  .user-nav a + a {
    margin-left: 1.2em; }

.toggle-task-type {
  padding: 5em 0; }
  .toggle-task-type a {
    color: #bebebe;
    font-size: 1.8em;
    font-family: 'sf_ui_textsemibold'; }
    .toggle-task-type a.active {
      color: #00a2f4; }
    .toggle-task-type a + a {
      margin-left: .3em; }
      .toggle-task-type a + a:before {
        content: '/';
        display: inline-block;
        margin-right: .3em;
        color: #bebebe; }

.today-day {
  background: #00a2f4;
  padding: 1em 2em;
  color: #fff; }
  .today-day .day {
    font-size: 3.6em;
    font-family: 'sf_ui_displaybold'; }
  .today-day .month {
    font-size: 1.8em; }

.all-task-wrap {
  padding: 4em 0; }

.task-content {
  overflow: auto;
  height: -webkit-calc(100vh - 218px);
  height: calc(100vh - 218px); }

.task {
  width: 100%;
  position: relative;
  padding-left: 5.4em;
  max-width: -webkit-calc(600px - 5.4em);
  max-width: calc(600px - 5.4em); }
  .task.open .task-content-wrap {
    display: block; }
  .task.open .task-header {
    -webkit-border-radius: 1em 1em 0 0;
            border-radius: 1em 1em 0 0; }
  .task.warning .task-header {
    background: #ff5201; }
  .task.success .task-header {
    background: #7cbb00; }
  .task + .task {
    margin-top: 4em; }
  .task .task-header {
    padding: 1.5em;
    background: #ffbb00;
    -webkit-border-radius: 1em;
            border-radius: 1em;
    color: #fff;
    font-family: 'sf_ui_textlight';
    cursor: pointer;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0 3px 16.17px 4.83px rgba(0, 2, 3, 0.08);
            box-shadow: 0 3px 16.17px 4.83px rgba(0, 2, 3, 0.08); }
    .task .task-header .short-task-text {
      width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.4em; }
    .task .task-header .icon-arrow {
      font-size: .6em; }
    .task .task-header .icon-cancel {
      font-size: 2em;
      margin-top: -8px; }
  .task .task-content-wrap {
    display: none;
    padding: 1.5em;
    -webkit-border-radius: 0 0 1em 1em;
            border-radius: 0 0 1em 1em;
    background: #ffffff;
    color: #404040;
    font-family: 'sf_ui_textlight';
    font-size: 1.4em;
    line-height: 1.3;
    -webkit-box-shadow: 0 3px 16.17px 4.83px rgba(0, 2, 3, 0.08);
            box-shadow: 0 3px 16.17px 4.83px rgba(0, 2, 3, 0.08); }
    .task .task-content-wrap > * + * {
      margin-top: 1em; }
    .task .task-content-wrap .time-row .time {
      width: 90%;
      padding-left: 5px;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
                  -ms-grid-row-align: center;
              align-self: center; }
    .task .task-content-wrap .task-icon {
      font-size: 1.43em;
      width: 20px; }
    .task .task-content-wrap .task-text-row .text {
      width: 90%;
      padding-left: 5px; }
    .task .task-content-wrap .task-check-row .checkBox {
      cursor: pointer;
      display: block; }
      .task .task-content-wrap .task-check-row .checkBox input[type='checkbox'] {
        display: none; }
        .task .task-content-wrap .task-check-row .checkBox input[type='checkbox'] + .label-text:before {
          content: '\f1db';
          font-family: "FontAwesome";
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          width: 1em;
          margin-right: 15px;
          -webkit-transition: 1s;
          transition: 1s;
          color: #f65719; }
        .task .task-content-wrap .task-check-row .checkBox input[type='checkbox']:checked + .label-text:before {
          content: "\f05d";
          color: #7cbb00; }

.to-do-time {
  width: 3.3333em;
  height: 3.3333em;
  font-size: 1.2em;
  background: #00a2f4;
  color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.login-body {
  background-image: url(../../app/img/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .login-body .form {
    background: #fff;
    width: 290px;
    height: 330px;
    -webkit-border-radius: 9px;
            border-radius: 9px;
    -webkit-box-shadow: 0 3px 16.17px 4.83px rgba(0, 2, 3, 0.08);
            box-shadow: 0 3px 16.17px 4.83px rgba(0, 2, 3, 0.08);
    position: absolute;
    top: 75px;
    left: 15px;
    text-align: center; }
    .login-body .form .e-mail {
      margin-top: 47px; }
      .login-body .form .e-mail :focus {
        border-bottom: 1px #00a2f4 solid; }
      .login-body .form .e-mail input {
        height: 50px;
        width: 190px;
        border-bottom: 1px #9f9f9f solid;
        font-size: 1.8em;
        color: #9f9f9f;
        margin-left: 27px; }
      .login-body .form .e-mail span {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("../../app/img/input-sprite.png");
        background-position: -0px -24px; }
    .login-body .form .password {
      margin-top: 12px; }
      .login-body .form .password :focus {
        border-bottom: 1px #00a2f4 solid; }
      .login-body .form .password input {
        height: 50px;
        width: 190px;
        border-bottom: 1px #9f9f9f solid;
        font-size: 1.8em;
        color: #9f9f9f;
        padding: 0;
        margin-left: 27px; }
      .login-body .form .password span {
        display: inline-block;
        width: 18px;
        height: 23px;
        background: url("../../app/img/input-sprite.png");
        background-position: -0px -71px; }
    .login-body .form input[type="submit"] {
      -webkit-border-radius: 9px;
              border-radius: 9px;
      width: 245px;
      height: 40px;
      color: white;
      text-transform: uppercase;
      font-size: 1.8em;
      background: #00a2f4;
      margin-top: 40px;
      margin-right: 0px; }
    .login-body .form .checkBox {
      cursor: pointer;
      display: block;
      color: #9f9f9f;
      font-size: 1.4em;
      margin-top: 35px; }
      .login-body .form .checkBox input[type='checkbox'] {
        display: none; }
        .login-body .form .checkBox input[type='checkbox'] + .label-text:before {
          content: '\f096';
          font-family: "FontAwesome";
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          width: 1em;
          margin-right: 15px;
          -webkit-transition: 1s;
          transition: 1s; }
        .login-body .form .checkBox input[type='checkbox']:checked + .label-text:before {
          content: "\f14a";
          color: #00a2f4; }
