@font-face {
    font-family: 'lobster_1.4regular';
    src: url('../fonts/lobsterregular-webfont.eot');
    src: url('../fonts/lobsterregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobsterregular-webfont.woff2') format('woff2'),
         url('../fonts/lobsterregular-webfont.woff') format('woff'),
         url('../fonts/lobsterregular-webfont.ttf') format('truetype'),
         url('../fonts/lobsterregular-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	margin: 0 auto;
	color: #000;
	/*width: 700px;*/
	background: #fff;
	font: 12px/1 'Open Sans', arial, helvetica, sans-serif;
}
/* General reset */
img {
	border: none;
	max-width: 100%;
}
a {
		color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
input, button, textarea, select{
	outline: none;
}
/* General settings */

/*DEFAULTS STYLE*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container{
	width: 1280px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}
.vertical-align::before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -4px;
}
.vertical-align > *{
	display: inline-block;
	vertical-align: middle;
}
.btn{
	display: inline-block;
    width: 300px;
    height: 55px;
    border: 3px #bc2336 solid;
    font-size: 16px;
    margin-top: 29px;
    color: white;
    padding-top: 19px;
}

/*HEADER START*/
.header{
	height: 116px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
div .logo{
	display: inline-block;
	padding: 11px 0 0 6px;
    float: left;
}
div .header-nav{
	display: inline-block;
    font-size: 18px;
}
div .header-nav ul{
	padding-top: 50px;
    padding-left: 190px;
}
div .header-nav ul li{
	display: inline-block;
	margin: 0 11px;
}
div .header-nav ul li a:hover{
	color: #bc2336;
}
div .icon-nav{
	padding: 45px 4px 0 0;
	float: right;
}
.icon-nav li{
	float: left;
}
.icon-nav li + li {
    margin-left: 32px;
}
.icon-nav ul li a{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../img/sprite-ic.png') no-repeat;
}
.icon-nav li a.vk {
    background-position: -24px -48px;
}
.icon-nav li a.vk:hover{
    background-position: -0px -48px;
}
.icon-nav li a.twitter {
    background-position: -24px -24px;
}
.icon-nav li a.twitter:hover{
    background-position: -0px -24px;
}
.icon-nav li a.google {
    background-position: -24px -0px;
}
.icon-nav li a.google:hover{
    background-position: -0px -0px;
}
/*HEADER END*/

/*MAIN START*/
.call-to-action{
	background: url(../img/inner-bg.jpg) no-repeat top center;
	background-size: cover;
	width: 100%;
/*	height: 600px;*/
	height: 100vh;
	padding-top: 116px;
	text-align: center;
}
.call-to-action-text{
	color: #fff;
}
.call-to-action-text h1{
	font-family: 'lobster_1.4regular';
	font-size: 60px;
}
.call-to-action-text span{
	font-size: 16px;
    margin: 15px 0 0 0px;
    display: block;
}
.about-us div.container{
	text-align: center;
}
.about-us div.container h4{
	font-family: 'lobster_1.4regular';
	font-size: 36px;
	margin-top: 58px;
}
.about-us div.container p{
	font-size: 20px;
    padding: 0 10.63%;
    display: inline-block;
    margin-top: 22px;
}
.services-wrap{
	font-size: 0;
	padding-top: 55px;
}
.service{
	display: inline-block;
	width: 33.3333%;
	padding: 0.10px;
	position: relative;
	margin-bottom: 30px;
}
.service-text{
	width: 206px;
	height: 206px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .85);
	position: absolute;
	top: 50%;
	margin-top: -103px;
	left: 50%;
	margin-left: -103px;
	text-align: center;
}
.service-text a{
	display: inline-block;
	width: 197px;
	height: 197px;
	border-radius: 50%;
	text-align: center;
	font-size: 18px;
	color: #000;
	margin-left: 4px;
	border: 3px solid transparent;
}

.service-text a:hover{
	border: 3px solid #bc2336;
	color: #bc2336;
}
.service span{
	width: 190px;
}
/*MAIN END*/

/*FOOTER START*/
.footer{
	height: 244px;
	background: #000;
	margin-top: 28px;
	padding-top: 25px;
	color: #fff;
	text-align: center;
	font-size: 14px;
}
.footer h2{
	font-size: 24px;
	font-family: 'lobster_1.4regular';
	padding: 0 0 40px 0;
}
.footer span+span{
	display: block;
	margin-top: 6px;
}
.footer-nav{
	margin-top: 31px;
}
.footer-nav li{
	height: 24px;
	width: 24px;
	display: inline-block;
}
.footer-nav li + li {
    margin-left: 20px;
}
.footer-nav ul li a{
	display: inline-block;
	background: url('../img/sprite-ic-white.png') no-repeat;
	height: 24px;
    width: 24px;
}
.footer-nav li a.vk-white {
    background-position: -24px -48px;
}
.footer-nav li a.vk-white:hover{
    background-position: -0px -48px;
}
.footer-nav li a.twitter-white {
    background-position: -24px -24px;
}
.footer-nav li a.twitter-white:hover{
    background-position: -0px -24px;
}
.footer-nav li a.google-white {
    background-position: -24px -0px;
}
.footer-nav li a.google-white:hover{
    background-position: -0px -0px;
}
/*FOOTER END*/

/*MODAL STYLE*/
.modal{
	display: none;
	background: #fff;
	width: 755px;
	min-height: 405px;
	padding: 8px;
}

.form-control{
	width: 100%;
	border: 2px solid #b5b5b5;
	background: #fff;
	height: 34px;
	font-size: 14px;
	color: #5a5959;
	padding-left: 14px;
}
.form-control:focus{
	border-color: #bc2336;
}
::-webkit-input-placeholder {color:#5a5959;}
::-moz-placeholder          {color:#5a5959;}/ Firefox 19+ /
:-moz-placeholder           {color:#5a5959;}/ Firefox 18- /
:-ms-input-placeholder      {color:#5a5959;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
.close{
	cursor: pointer;
}
.close-ic{
	float: right;
}
.modal span{
	font-size: 24px;
	font-family: 'lobster_1.4regular';
	display: block;
    padding-top: 8px;
    text-align: center;
}
.modal h2{
	text-align: center; 
	padding: 30px 0 0 43px;
}
.modal form{
	margin-top: 35px;
}
div.left-form{
	display: inline-block;
	margin-left: 20px;
	width: 342px;
	float: left;
}
div.left-form input+input{
	margin-top: 30px;
}
div.right-form{
	display: inline-block;
	margin-left: 15px;
	width: 342px;
}
div.right-form select{
	
}
div.right-form textarea{
	margin-top: 30px;
	height: 98px;
	width: 100%;
}
.textarea{
	width: 100%;
	border: 2px solid #b5b5b5;
	background: #fff;
	height: 34px;
	font-size: 14px;
	color: #5a5959;
	padding-left: 14px;
	padding-top: 10px;
}
.textarea:focus{
	border-color: #bc2336;
}
.form-btn{
	width: 135px;
	height: 45px;
	background: #bc2336;
	text-align: center;
	color: #fff;
	padding-top: 15px;
	font-size: 18px;
	display: block;
	border-radius: 3%;
	margin: 0 auto;
	margin-top: 49px;
}
.slicknav_menu {
	display: none;
}
/*MODAL STYLE END*/

/*MEDIA START*/

@media (max-width: 1300px){
	.container{
		width: 1156px;
	}
	div .header-nav ul {
    	padding-left: 115px;
	}
	.service {
		padding: 0 6px;
		margin-bottom: 15px;
	}
}
@media (max-width: 1172px){
	.container{
		width: 950px;
	}
	.icon-nav li + li {
    	margin-left: 16px;
	}
	div .header-nav ul {
    	padding-left: 10px;
	}
	.service-text a {
		width: 95.6%;
    	height: 95.6%;
    	}
	.service-text {
    	width: 47.8%;
    	height: 76%;
    	margin-left: -25%;
    	margin-top: -24%;
	}
	.service span {
    	width: 96.4%;
	}
}
@media (max-width: 949px){
	.container{
		width: 100%;
	}
	.slicknav_menu {
		display: block;
		float: right;
	}
	.header-nav ul{
		display: none;
	}
	.icon-nav{
		display: none;
	}
	.about-us div.container h4 {
	    font-size: 30px;
	    margin-top: 30px;
	}
    .about-us div.container p {
	    font-size: 16px;
    }
    .service-text a {    
	    font-size: 14px;
	}
	.call-to-action{
		height: 600px;
	}
	.slicknav_menu {
	    background: none;
	    margin: 30px 25px 0 0;
    }
    .slicknav_btn {
		border-radius: 0;
		background-color: inherit;
		text-shadow: none;
    }
    .slicknav_menu .slicknav_icon-bar {
	    background-color: #000;
	    width: 30px;
	    height: 4px;
	}
	.slicknav_menu .slicknav_icon {
	    float: left;
	    width: 30px;
	    height: 30px;
	}
	.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
	    margin-top: 7px;
	}
}
@media (max-width: 767px){
	.service {
	    width: 50%;
	    padding: 0 4px;
	}
	.modal {
    	width: 86.6%;
	}
	.header {
    	height: 95px;
	}
	.logo img {
	    height: 70px;
	    width: 70px;
	}
	.slicknav_menu {
	    margin: 3% 1% 0 0;
	}
	.slicknav_nav {
        top: 95px;
    }
	div.left-form {
	    margin-left: 2%;
    	width: 96%;
	}
	div.right-form {
		margin-left: 2%;
	    width: 96%;
	    margin-top: 30px;
	}
	.form-btn{
	margin-top: 4%;
    margin-bottom: 2%;
	}
	.about-us div.container p {
    font-size: 20px;
    padding: 0 0;
    } 
}
@media (max-width: 599px){
	.call-to-action {
    	height: 500px;
	}
	.service{
		width: 100%;
	}
	.service img{
		width: 100%;
	}
	.service-text a {
	    font-size: 20px;
	}
	.footer{
		height: 215px;
		padding-top: 20px;
	}
	.footer h2 {
	    font-size: 20px;
	    padding: 0px 0 30px 0;
	}
	.contacts span{
		font-size: 12px;
	}
	.slicknav_menu .slicknav_icon {
   		margin: 15% 0 0 0.438em;
	}
}
@media (max-width: 479px){
	.call-to-action-text h1 {
	    font-size: 35px;
	}
	.call-to-action-text span {
	    font-size: 13px;
	}
	.btn {
	    width: 200px;
	    height: 35px;
	    font-size: 12px;
	    margin-top: 15px;
	    padding-top: 9px;
	}
	.call-to-action {
	    height: 400px;
	}
	.service-text a {
	    font-size: 14px;
	}
}